body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* Стили для таблицы */
.table {
    width: 100%; /* Ширина таблицы 100% */
    table-layout: fixed; /* Фиксированная ширина столбцов */
    border-collapse: collapse; /* Схлопывание границ ячеек таблицы */
}

/* Стили для ячеек таблицы */
.table th,
.table td {
    padding: 10px; /* Внутренний отступ для ячеек таблицы */
    text-align: left; /* Выравнивание содержимого ячеек по левому краю */
    border: 1px solid #000; /* Границы ячеек таблицы */
}

/* Стили для заголовков столбцов таблицы */
.table th {
    background-color: #f2f2f2; /* Цвет фона заголовков столбцов */
    font-weight: bold; /* Полужирное начертание текста в заголовках столбцов */
}

/* Стили для содержимого таблицы */
.table td {
    vertical-align: top; /* Выравнивание содержимого ячеек по верхнему краю */
}


/* Стили для кнопок */
.button {
    padding: 8px 16px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}


.select {
    display: inline-block; /* Отображение элемента в виде блока */
    position: relative; /* Относительное позиционирование элемента */
    width: 200px; /* Ширина элемента select */
    height: 40px; /* Высота элемента select */
    background-color: #fff; /* Цвет фона элемента select */
    border: 1px solid #000; /* Граница элемента select */
    border-radius: 4px; /* Радиус скругления углов элемента select */
    padding: 10px; /* Внутренний отступ внутри элемента select */
    font-size: 16px; /* Размер шрифта внутри элемента select */
    color: #000; /* Цвет текста внутри элемента select */
    cursor: pointer; /* Изменение формы курсора при наведении на элемент select */
}

/* Стили для опций элемента select */
.select option {
    padding: 10px; /* Внутренний отступ внутри опций элемента select */
    font-size: 16px; /* Размер шрифта внутри опций элемента select */
    color: #000; /* Цвет текста внутри опций элемента select */
    background-color: #fff; /* Цвет фона опций элемента select */
}

/* Стили для выпадающего списка опций */
.select select {
    position: absolute; /* Абсолютное позиционирование списка опций */
    top: 100%; /* Расположение списка опций под элементом select */
    left: 0; /* Выравнивание списка опций по левому краю элемента select */
    right: 0; /* Выравнивание списка опций по правому краю элемента select */
    max-height: 200px; /* Максимальная высота списка опций */
    overflow-y: auto; /* Включение вертикальной прокрутки, если список опций не вмещается на экране */
    background-color: #fff; /* Цвет фона списка опций */
    border: 1px solid #000; /* Граница списка опций */
    border-radius: 4px; /* Радиус скругления углов списка опций */
    padding: 0; /* Удаление внутреннего отступа списка опций */
    margin: 0; /* Удаление внешних отступов списка опций */
    list-style: none; /* Удаление маркера списка опций */
    z-index: 999; /* Поднятие списка опций над другими элементами */
    opacity: 0; /* Скрытие списка опций по умолчанию */
    pointer-events: none; /* Отключение событий указателя */
}

.input-field {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.input-field:focus {
  border-color: #007bff; /* Цвет рамки при фокусе */
}

.neon-text {
  font-size: 36px; /* Размер текста */
  color: #fff; /* Цвет текста */
  text-shadow: 0 0 5px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00; /* Основная тень текста */
  animation: neon-animation 1s ease-in-out infinite alternate; /* Анимация светящейся тени */
}

@keyframes neon-animation {
  from {
    text-shadow: 0 0 5px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00; /* Начальная тень текста */
  }
  to {
    text-shadow: 0 0 10px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00, 0 0 70px #00ff00; /* Конечная тень текста */
  }
}


.navbar-brand {
  color: #007bff; /* Цвет ссылки на главную страницу */
  font-weight: bold; /* Жирность текста ссылки на главную страницу */
}

.nav-link {
  color: #333; /* Цвет ссылок в навигации */
}

.nav-link:hover {
  color: #fff; /* Цвет ссылок в навигации при наведении */
}

.text-black-with-white-shadow {
  color: #000; /* Черный цвет текста */
  text-shadow: 0 0 5px #fff; /* Белая тень с радиусом 5 пикселей */
}

#center_nav_item{
    padding-bottom: 2px;
    padding-top: 2px;
}
