{% extends "empty.html" %}

{% block content %}
    <div class="author-link" id="chupryna">
        <div class="image-with-text">
            <img src="https://sun9-63.userapi.com/Bu-sKyqjGE6Tbdup7hL-kXp6OnvofS6iKHuf2w/SQpeMnCxLMg.jpg" alt=".">
            <a id="ds" href="https://discordapp.com/users/788847737785417759"><img src="../static/img/discord.png" alt="."></a>
            <a id="vk" href="https://vk.com/m4estro777"><img src="../static/img/vk.png" alt="."></a>
            <div class="text-on-pic border-radius-10px" style="min-width: fit-content; left: 40%"><a class="neon-no-fixed" href="https://t.me/m4estro48">Матвей Чупрына</a></div>
        </div>
    </div>
    <br>
    <div class="author-link">
        <a class="ds2 neon-text" id="romanov" href="https://discordapp.com/users/838340805844402186"> Роман Смирнов</a>
    </div>


{% endblock %}