{% extends "empty.html" %}

{% block content %}
    <head>
        <title>Главная</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main_page.css">
    </head>
    <body>
    <main>
        <h1>Главная страница</h1>
        <h2>Товары</h2>
        <ul>
            {% for product in products %}
                {% if products %}
                    <li>{{ product.name }} - {{ product.price }} руб.</li>
                {% endif %}
            {% endfor %}
        </ul>
    </main>
    </body>

{% endblock %}