{% extends "empty.html" %}

{% block content %}
    <head>
        <title>Главная</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main_page.css">
    </head>
    <body>
    <div class="carousel-container">
        <div class="carousel slide"></div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active pic-under-text">
                    <a href="/products"><img src="{{ url_for('static', filename='img/pubg.jpg') }}"
                                             class="d-block w-100 border-radius-20px"
                                             alt="..."></a>
                    <div class="text-on-pic border-radius-10px"><a class="neon-no-fixed" href="/products/1">Топ 1
                        товар</a></div>
                </div>


                <div class="carousel-item pic-under-text">
                    <a href="/products"><img src="{{ url_for('static', filename='img/csgo.jpg') }}"
                                             class="d-block w-100 border-radius-20px"
                                             alt="..."></a>
                    <div class="text-on-pic border-radius-10px"><a class="neon-no-fixed" href="/products/2">Топ 2
                        товар</a></div>
                </div>

                <div class="carousel-item pic-under-text">
                    <a href="/products"><img src="{{ url_for('static', filename='img/apex.jpg') }}"
                                             class="d-block w-100 border-radius-20px"
                                             alt="..."></a>
                    <div class="text-on-pic border-radius-10px"><a class="neon-no-fixed" href="/products/3">Топ 3
                        товар</a></div>
                </div>
            </div>

            <!-- кнопка назад -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <!-- кнопка вперед -->
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>
    </div>
    <div id="top-products">
        <div class="ul-item-heading border-radius-10px">
            <h2>
                Товары
            </h2>
        </div>

        <ul class="list-group mx-auto">
            {% for product in products %}
                {% if products %}
                    <div class="li-item-all">
                        <li class="list-group-item rounded bg-primary text-white"><a
                                class="ul-item-name">{{ product.name }}</a> <span
                                class="badge badge-light float-right li-item-name">{{ product.price }} руб.</span>
                        </li>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="main-div">
        <div class="border-radius-10px main-text">
            <div class="main-text-divs">
                Это сайт по продаже геймерских товаров. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra suspendisse potenti nullam ac tortor
                vitae purus faucibus ornare. Tincidunt vitae semper quis lectus nulla at volutpat. At consectetur lorem
                donec massa sapien. Dictum varius duis at consectetur lorem donec massa. Lorem ipsum dolor sit amet
                consectetur adipiscing elit. Faucibus pulvinar elementum integer enim neque. Sagittis id consectetur
                purus
                ut faucibus. Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Ipsum suspendisse ultrices
                gravida dictum fusce. Integer enim neque volutpat ac tincidunt vitae semper. Sed nisi lacus sed viverra
                tellus in hac habitasse platea. In iaculis nunc sed augue.
            </div>

            <div class="main-text-divs">
                Turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Urna molestie at elementum
                eu
                facilisis sed odio morbi quis. Diam quam nulla porttitor massa id neque aliquam. Tristique sollicitudin
                nibh
                sit amet commodo nulla facilisi nullam vehicula. Eu volutpat odio facilisis mauris sit amet massa vitae
                tortor. Senectus et netus et malesuada fames. A arcu cursus vitae congue. Auctor eu augue ut lectus arcu
                bibendum at varius vel. Quam pellentesque nec nam aliquam sem et tortor consequat id. Eget gravida cum
                sociis natoque penatibus et. Pretium quam vulputate dignissim suspendisse in est ante in nibh.
            </div>

            <div class="main-text-divs">
                Pharetra pharetra massa massa ultricies mi quis hendrerit. Vel elit scelerisque mauris pellentesque
                pulvinar
                pellentesque habitant morbi. Urna nunc id cursus metus aliquam eleifend mi in nulla. Consectetur lorem
                donec
                massa sapien. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Diam quam nulla
                porttitor massa. Consequat semper viverra nam libero. Ante in nibh mauris cursus. Eget egestas purus
                viverra
                accumsan in nisl. Nullam non nisi est sit. Vestibulum lorem sed risus ultricies tristique nulla aliquet.
                Semper eget duis at tellus at urna condimentum mattis. Massa tincidunt nunc pulvinar sapien et. Molestie
                a
                iaculis at erat pellentesque adipiscing. Dui id ornare arcu odio ut sem nulla. Odio ut sem nulla
                pharetra
                diam sit amet nisl suscipit. Mi eget mauris pharetra et ultrices neque ornare aenean. Nunc scelerisque
                viverra mauris in aliquam sem fringilla. Aliquam malesuada bibendum arcu vitae elementum.
            </div>

            <div class="main-text-divs">
                Nulla facilisi cras fermentum odio eu feugiat. Eget duis at tellus at urna. Velit sed ullamcorper morbi
                tincidunt ornare massa eget. Consequat nisl vel pretium lectus. Velit laoreet id donec ultrices
                tincidunt
                arcu non sodales. Eros in cursus turpis massa tincidunt. Odio facilisis mauris sit amet massa vitae
                tortor
                condimentum lacinia. Orci sagittis eu volutpat odio facilisis. Sociis natoque penatibus et magnis dis
                parturient montes. Tortor posuere ac ut consequat semper viverra nam libero justo. Molestie ac feugiat
                sed
                lectus vestibulum mattis ullamcorper.
            </div>

            <div class="main-text-divs">
                Bibendum est ultricies integer quis auctor elit sed. Nec ullamcorper sit amet risus. A arcu cursus vitae
                congue mauris rhoncus. Sit amet consectetur adipiscing elit pellentesque. Nunc mi ipsum faucibus vitae
                aliquet. Maecenas sed enim ut sem viverra aliquet eget. Vel pharetra vel turpis nunc eget lorem dolor
                sed
                viverra. Cursus sit amet dictum sit. Amet est placerat in egestas erat imperdiet sed euismod nisi.
                Aliquet
                eget sit amet tellus cras adipiscing. Arcu odio ut sem nulla pharetra diam sit amet. Arcu ac tortor
                dignissim convallis aenean et tortor at risus.
            </div>

            <div class="main-text-divs">
                Rhoncus est pellentesque elit ullamcorper dignissim. Pulvinar neque laoreet suspendisse interdum
                consectetur
                libero id faucibus. Eu non diam phasellus vestibulum lorem sed risus. Mollis nunc sed id semper risus in
                hendrerit. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada nunc. Pharetra convallis
                posuere morbi leo. Magna ac placerat vestibulum lectus mauris ultrices. Tincidunt vitae semper quis
                lectus
                nulla at volutpat diam ut. Tortor id aliquet lectus proin. Arcu vitae elementum curabitur vitae nunc
                sed.
                Leo in vitae turpis massa sed elementum tempus. Consectetur adipiscing elit duis tristique sollicitudin
                nibh
                sit amet commodo.
            </div>

            <div class="main-text-divs">
                Habitant morbi tristique senectus et netus et malesuada fames. Aenean pharetra magna ac placerat
                vestibulum
                lectus mauris ultrices eros. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Est
                ante
                in nibh mauris cursus mattis molestie a. Sed adipiscing diam donec adipiscing tristique risus. Volutpat
                commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Cursus eget nunc
                scelerisque
                viverra mauris in aliquam. Proin sed libero enim sed faucibus turpis. Id nibh tortor id aliquet lectus
                proin
                nibh nisl condimentum. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam purus. Velit ut
                tortor
                pretium viverra suspendisse potenti nullam ac. Pharetra pharetra massa massa ultricies mi quis.
            </div>
        </div>
    </div>
    </body>

{% endblock %}