{% extends "empty.html" %}

{% block content %}
    <head>
        <title>Товары</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main_page.css">
    </head>
    <body>
    <h1>Товары</h1>
    <form action="{{ url_for('sort_products') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="sort_by" id="sort">Сортировать по:</label>
        <select id="sort_by" name="sort_by" class="select">
            <option class="option" value="name">Название</option>
            <option value="price" class="option">Цена</option>
        </select>
        <input type="submit" value="Сортировать" class="button" id="123">
    </form>
    <br>
    <br>

    <table class="table">
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Описание</th>
            <th>Удаление
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        {% if category != 'product' %}
                            <div class="alert alert-{{ category }}" style="max-width: fit-content">
                                {{ message }}<br>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </th>
            <th>Фото</th>
        </tr>
        {% for product in products %}
            <tr>
                <td><a style="text-decoration: none; color: #311B92; text-shadow: #9FA8DA"
                       href="{{ url_for('product_detail', product_id=product.id) }}">{{ product.name }}</a> <span
                        class="sort-icon"></span></td>
                <td>{{ product.price }} <span class="sort-icon"></span></td>
                <td>{{ product.description }} <span class="sort-icon"></span></td>
                <td>
                    {% if current_user.is_authenticated %}
                        <form method="post" action="/products">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="delete" value="{{ product.id }}">
                            <button type="submit" class="button">Удалить <span class="sort-icon"></span></button>
                        </form>
                    {% else %}
                        Удаление доступно только после входа!
                    {% endif %}
                </td>
                {% if product.image %}
                    <td><img src="{{ url_for('static', filename='uploads/photos/' + product.image) }}"
                             alt="product image" style="max-width: 100px; max-height: 100px;"></td>
                {% else %}
                    <td>No image</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    {% if current_user.is_authenticated %}
        <h2>Добавить продукт</h2>
        <form method="post" action="/products" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="name">Название продукта:</label>
            <input type="text" id="name" name="name" required class="input-field"
                   style="right: 20px; vertical-align: top"><br>

            <label for="price">Цена продукта:</label>
            <input type="number" id="price" name="price" required class="input-field"
                   style="right: 20px; vertical-align: top"><br>

            <label for="description">Описание продукта:</label>
            <textarea id="description" name="description" rows="4" required class="input-field"
                      style="vertical-align: top"></textarea><br>

            <label for="image" class="custom-file-upload button">
                <input type="file" id="image" name="image" class="input-field image-field button">
                <div id="file-name">Выберите файл картинки</div>

                <script>
                    const fileInput = document.getElementById('image');
                    const fileName = document.getElementById('file-name');

                    fileInput.addEventListener('change', (event) => {
                        const file = event.target.files[0];
                        fileName.textContent = file.name;
                        fileName.style.backgroundColor = 'black';
                        fileName.style.fontWeight = 'bold';
                    });
                </script>
            </label><br>

            <input type="submit" value="Добавить" class="button">
        </form>
    {% endif %}
    <br>
    </body>
{% endblock %}