{% extends "empty.html" %}

{% block content %}
    <head>
        <title>Товары</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main_page.css">
    </head>
    <body>
    <h1>Товары</h1>
    <form action="{{ url_for('sort_products') }}" method="post">
        <label for="sort_by" id="sort">Сортировать по:</label>
        <select id="sort_by" name="sort_by" class="select">
            <option class="option" value="name">Название</option>
            <option value="price" class="option">Цена</option>
        </select>
        <input type="submit" value="Сортировать" class="button" id="123">
    </form>
    <br>
    <br>

    <table class="table">
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Удаление
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.name }} <span class="sort-icon"></span></td>
                <td>{{ product.price }} <span class="sort-icon"></span></td>
                <td>
                    {% if current_user.is_authenticated %}
                        <form method="post" action="/products">
                            <input type="hidden" name="delete" value="{{ product.id }}">
                            <button type="submit" class="button">Удалить <span class="sort-icon"></span></button>
                        </form>
                    {% else %}
                        Удаление доступно только после входа!
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if current_user.is_authenticated %}
        <h2>Добавить продукт</h2>
        <form method="post" action="/products">
            <label for="name">Название продукта:</label>
            <input type="text" id="name" name="name" required class="input-field" style="right: 20px"><br>

            <label for="price">Цена продукта:</label>
            <input type="number" id="price" name="price" required class="input-field" style="right: 20px"><br>

            <input type="submit" value="Добавить" class="button">
        </form>
    {% endif %}
    <br>
    </body>
{% endblock %}