{% extends "empty.html" %}

{% block content %}
    <head>
        <title>Регистрация</title>
    </head>
    <body>
    <h1>Регистрация</h1>

    <form method="POST" action="/registration">
        {{ form.csrf_token }}
        <label for="{{ form.username.id }}">Имя пользователя:</label>
        {{ form.username }}
        <br>
        <label for="{{ form.password.id }}">Пароль:</label>
        {{ form.password }}
        <br>
        <label for="{{ form.confirm_password.id }}">Подтверждение пароля:</label>
        {{ form.confirm_password }}
        <br>
        {{ form.submit }}
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    {{ message }}<br>
                    <a href="/login">Перейти ко входу</a>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    </body>
{% endblock %}